# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports (next.js / node)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/
web_modules/

# TypeScript / JavaScript Build outputs
dist/
build/
out/
.next/
.nuxt/
.cache/
.parcel-cache/

# TypeScript specific
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables files (Contains sensitive API keys/secrets)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
!*.env.example

# Serverless framework
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# Tern device definitions
.tern-port

# Stores VS Code settings, but usually we don't want to force our settings on others
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
